@using RecordApplication.Entities

<div>
	<InputText @bind-Value="@albumInput.AlbumName" @bind-Value:event="oninput" />
	<InputText @bind-Value="@albumInput.ArtistName" @bind-Value:event="oninput" />
	<InputText @bind-Value="@albumInput.ReleaseYear" @bind-Value:event="oninput" />
	<InputText @bind-Value="@albumInput.Units" @bind-Value:event="oninput" />
	<InputText @bind-Value="@albumInput.Genre" @bind-Value:event="oninput" />
	<InputText @bind-Value="@albumInput.Description" @bind-Value:event="oninput" />
</div>

@code {
	[Parameter]
	public Album album { get; set; }

	public AlbumInput albumInput { get; set; }
}
